<footer class="relative border-netflixGray-700 bg-netflixbackground border-t-[1px] w-screen overflow-x-hidden">

    <div class="relative flex flex-col justify-center items-center overflow-x-hidden">
        <div
            class="flex justify-between items-center px-8 sm:px-0 2xl:w-[1200px] text-netflixWhite overflow-x-hidden container">

            <div class="logo-container">
                <a href="/">
                    <img class="w-32" src="assets/logo.png" alt="">
                </a>
            </div>
            <div  class="flex justify-center items-center gap-3 font-semibold text-sm">
                © {{ date }}
                <a href="https://in.linkedin.com/in/parag-unhale" target="_blank" class="underline">
                    Parag Unhale
                </a>
      
        </div>
        </div>
    </div>
</footer>